<div class="navbar-sh">
    <div class="container contact-top">
        <div class="contact-mob">
            <i class="fa-solid fa-square-phone"></i>
            <a href="tel:+91 8102631538">+91 8102631538</a> &nbsp; I &nbsp;
            <a href="+91 8102631538">+91 8102631538</a>
        </div>
        <div class="cont-cent">
            <span>₹ 1 From every pack sold will be donated to SKRM Foundation</span>
        </div>
        <div class="cont-icon">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>
    
    <div class="navbar1">
        <div class="container">
            <div class="row navbar-nav1">
                <div class="col-2 logo">
                    <a class="navbar-brand" href="#"><img src="../../assets/Image/logo.png" alt=""></a>
                </div>
                <div class="col-6 nav-item1">
                    <ul>
                        <li>
                            <a href="">DRY FRUITS</a>
                            <ul class="hovereff">
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>

                            </ul>
                        </li>
                        <li><a href="">NUTS & BERRIES</a></li>
                        <li><a href="">SEEDS</a></li>
                        <li><a href="">DATES</a></li>
                    </ul>
                </div>

                <div class="col-4 nav-search">
                    <ul>
                        <li><i class="fa-solid fa-magnifying-glass"></i><a href="">Search</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-user"></i> Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Another</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something</a></li>
                            </ul>
                        </li>
                        <li><i class="fa-solid fa-cart-shopping"></i><span>0</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>